<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431782026620-qlvef5bh185r1tngafp5etoikievmvvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431782026620-qlvef5bh185r1tngafp5etoikievmvvi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>431782026620-c7vo8p01cij2kgji07o0ujscqbtlpeq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNfwmz_vErP6gotEEK4zg94Aw3qNJRCIE</string>
	<key>GCM_SENDER_ID</key>
	<string>431782026620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.albinomoreira.todoList</string>
	<key>PROJECT_ID</key>
	<string>todo-list-b8f19</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-b8f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431782026620:ios:ae79ed393b7d34b77898f9</string>
</dict>
</plist>